
body{
	font-family: 'Raleway', sans-serif;
}

p{
	margin-left: 1.66%;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 25px;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

.image-gallery{
	/* Applying width: auto and overflow:hidden to be able to add margin-bottom to the floated images; */
	width: auto; 
	overflow: hidden;
	margin-bottom: 50px;
}