body {
	font-family: 'Raleway', sans-serif;
}

a:focus{
	outline: none;
}

h1 {
	margin-left: 1.66%;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 25px;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
	color: #212121;
}

h1 a{
	text-decoration: none;
	color: #212121;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

.image-gallery {

	/* Applying width: auto and overflow:hidden to be able to add margin-bottom to the floated images; */
	width: auto;
	overflow: hidden;
	margin-bottom: 50px;
}

footer p {
	text-align: center;
	padding: 10px;
	color: #2e2e2e;
}

footer p a {
	color: #2e2e2e;
}

footer p a:hover, h1 a:hover {
	color: #888;
}